.logo {
    width: 95px;
    height: 95px;

    cursor: pointer;

    transition: 0.3s all ease-in-out;
}

.logo-container {
    background-image: url("./logo.svg");
}

.logo:hover {
    transform: scale(0.85) rotate(-12deg);

    transition: 0.3s all ease-in-out;
}

@media (min-width: 1600px) {
    .logo {
        width: 7vw;
        height: 7vw;
    }
}